@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 98%);
  --background-el: hwb(0 100% 0%);
  --text-color: hsl(200, 15%, 8%);
  --input-text: hsl(0, 0%, 52%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(207, 26%, 17%);
    --background-el: hsl(209, 23%, 22%);
    --text-color: hsl(0, 0%, 100%);
    --input-text: hsl(0, 0%, 100%);
  }
}

.background-el {
  background-color: var(--background-el) !important;
}

body {
  color: var(--text-color);
  background: var(--background);
}

input {
  color: var(--input-text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
